{% extends 'main/layout.html' %}

{% block title %}StarSight – Проверка условий для наблюдений{% endblock %}

{% block content %}
<div class="home-container">

  <h1 class="title">StarSight</h1>
  <p class="subtitle">Открой для себя ночное небо</p>

  <div class="intro-text">
      <p>
          Добро пожаловать в <strong>StarSight</strong> — пространство для тех,
          кто любит смотреть в звёздное небо и хочет делать это в&nbsp;лучшем месте и в&nbsp;лучшее время.
      </p>
      <p>
          Здесь вы сможете:
      </p>
      <ul>
          <li>узнать оптимальные условия для наблюдений в вашем городе;</li>
          <li>просмотреть наглядную тепловую карту видимости неба за выбранный период;</li>
          <li>вести дневник наблюдений и делиться впечатлениями с другими любителями астрономии.</li>
      </ul>
      <p>
          Выберите нужный раздел с помощью панели навигации — и начинайте своё
          путешествие по ночному небу!
      </p>
  </div>
</div>
{% endblock %}