{% extends 'main/layout.html' %}

{% block title %}StarSight – Проверка условий для наблюдений{% endblock %}

{% block content %}
    <h1>StarSight</h1>
    <p>Проверка условий для наблюдения за звёздами и Луной</p>
    <form method="get">
        <input type="text" name="city" placeholder="Город" required>
        <p>
            <label>С даты:</label>
            <input type="date" name="start" required>

            <label>По дату:</label>
            <input type="date" name="end" required>
        </p>
        <button type="submit">Показать</button>
    </form>

    <p>{{ result }}</p>

    {% if days %}
    <ul>
        {% for day in days %}
            <li>
                {{ day.datetime }} — облачность: {{ day.cloudcover }}%, фаза Луны: {{ day.moonphase }}
            </li>
        {% endfor %}
    </ul>
{% endif %}


{% endblock %}